@model SpacesForChildren.Models.Anuncio

@{
    ViewBag.Title = "Eliminar Anúncio";
}

<div class="box">

    <h2 style="margin-left:15px">Delete</h2>

    <div>
        <h4 style="margin-left:15px;">Tem a certeza que quer eliminar @Html.DisplayFor(model => model.AnuncioTitulo)?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Instituicao.InstituicaoNome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Instituicao.InstituicaoNome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Servico.ServicosDescricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Servico.ServicosDescricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnuncioDescricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnuncioDescricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnuncioData)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnuncioData)
            </dd>

        </dl>
        <hr />
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>
        }
    </div>
</div>