@model SpacesForChildren.Models.Anuncio

@{
    ViewBag.Title = "Detalhes Anúncio";
}

<div class="box">

    <h2 style="margin-left:15px;">Details</h2>

    <div>
        <h4 style="margin-left:15px;">Anúncio: @Html.DisplayFor(model => model.AnuncioTitulo)</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Instituicao.InstituicaoNome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Instituicao.InstituicaoNome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Servico.ServicosDescricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Servico.ServicosDescricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnuncioTitulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnuncioTitulo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnuncioDescricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnuncioDescricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AnuncioData)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AnuncioData)
            </dd>

        </dl>
    </div>
    <hr />
    <p>
        @if (@ViewBag.instituicao == Model.InstituicaoID)
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.AnuncioID })
        }
        @if (@ViewBag.instituicao != Model.InstituicaoID)
        {
            @Html.ActionLink("Página Principal", "../Home/Index")
        }
        |
        @Html.ActionLink("Voltar", "Index")
    </p>
</div>