@model IEnumerable<SpacesForChildren.Models.Anuncio>

@{
    ViewBag.Title = "Lista de Anúncios";
}

<div class="box">

    <h2 style="margin-left:15px">Anúncios</h2>

    @*<p style="margin-left:15px">
        @Html.ActionLink("Criar Anúncio", "Create")
    </p>*@
    <table class="table">
        <tr class="cabecalho">
            <th>
                Instituição:
            </th>
            <th>
                Serviço:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnuncioTitulo)
            </th>
            <th>
                Anúncio:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnuncioData)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.Instituicao.InstituicaoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.ServicosDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnuncioTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnuncioDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnuncioData)
            </td>
            @if (@ViewBag.instituicao == item.Servico.InstituicaoID)
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.AnuncioID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.AnuncioID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.AnuncioID })
                </td>
            }
            else
            {
                if (this.User.IsInRole("Instituição"))
                {
                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.AnuncioID })
                    </td>
                }
                if (this.User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.AnuncioID }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.AnuncioID })
                    </td>
                }
            }


        </tr>
    }

    </table>
</div>