@model SpacesForChildren.Models.Instituicao

@{
    ViewBag.Title = "Eliminar Instituição";
}

<div class="box">

    <h2 style="margin-left:15px;">Eliminar</h2>

    <div>
        <h4 style="margin-left:15px;">Tem a certeza que quer eliminar @Html.DisplayFor(model => model.InstituicaoNome)?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.InstituicaoTipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstituicaoTipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstituicaoNome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstituicaoNome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstituicaoEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstituicaoEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstituicaoTelefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstituicaoTelefone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstituicaoCidade)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstituicaoCidade)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InstituicaoMorada)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InstituicaoMorada)
            </dd>

        </dl>
        <hr />
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>
        }
    </div>

</div>