@model SpacesForChildren.Models.Instituicao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instituicao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoTipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituicaoTipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituicaoNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituicaoEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoTelefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituicaoTelefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoCidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituicaoCidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstituicaoMorada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstituicaoMorada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InstituicaoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
