@model SpacesForChildren.Models.Servico

@{
    ViewBag.Title = "Detalhes Serviço";
}

<div class="box">

    <h2 style="margin-left:15px;">Detalhes</h2>

    <div>
        <h4 style="margin-left:15px;">Serviço</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Instituição:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Instituicao.InstituicaoNome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ServicosDescricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServicosDescricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ServicosPreco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServicosPreco) €
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ServicosTipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServicosTipo)
            </dd>

        </dl>
    </div>
    <hr />
    <p>
        @if (@ViewBag.instituicao == Model.InstituicaoID.ToString())
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.ServicoID })
        }
        @if (@ViewBag.instituicao != Model.InstituicaoID.ToString())
        {
            @Html.ActionLink("Página Principal", "../Home/Index")
        }
         |
        @Html.ActionLink("Voltar", "Index")
    </p>
</div>