@model IEnumerable<SpacesForChildren.Models.Servico>

@{
    ViewBag.Title = "Lista Serviços";
}

<div class="box">

    <h2 style="margin-left:15px">Lista de Serviços</h2>

    @*<p style="margin-left:15px">
        @Html.ActionLink("Criar Serviço", "Create")
    </p>*@
    <hr />
    <table class="table">
        <tr class="cabecalho">
            <th>
                Instituição:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicosDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicosPreco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServicosTipo)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instituicao.InstituicaoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicosDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicosPreco) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicosTipo)
            </td>
            @if (@ViewBag.instituicao == item.InstituicaoID.ToString())
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ServicoID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.ServicoID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ServicoID }) 
                </td>
            }
            else
            {
                if (this.User.IsInRole("Instituição"))
                {
                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ServicoID })
                    </td>
                }
                if (this.User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Detalhes", "Details", new { id = item.ServicoID }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ServicoID })
                    </td>
                }
            }
        </tr>
    }

    </table>
</div>