@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SpacesForChildren</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
   
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                @Html.ActionLink("SpacesForChildren", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*------------------------Verificao do perfil para os menus----------------------*@
                    @if (this.User.IsInRole("Pais"))
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Serviços<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Ver Anúncios", "Index", "Anuncios")</li>
                                    <li>@Html.ActionLink("Ver Pedidos", "Index", "Pedidoes")</li>
                                    <li>@Html.ActionLink("Efectuar Pedido", "Create", "Pedidoes")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Avaliação <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Ver Avaliações", "Index", "Avaliacaos")</li>
                                    <li>@Html.ActionLink("Avaliar", "Create", "Avaliacaos")</li>
                                    @*<li>@Html.ActionLink("Editar Avaliações", "Edit", "Avaliacaos")</li>*@
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Instituições", "Index", "Instituicaos")</li>
                        </ul>
                    }
                    @*----------------------------------------------------------------------------------*@
                    @if (this.User.IsInRole("Instituição"))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Avaliações", "Index", "Avaliacaos")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Serviços<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Ver Serviços", "Index", "Servicoes")</li>
                                    <li>@Html.ActionLink("Criar Serviços", "Create", "Servicoes")</li>
                                    <li>@Html.ActionLink("Ver Pedidos", "Index", "Pedidoes")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Anúncios <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Ver Anúncios", "Index", "Anuncios")</li>
                                    <li>@Html.ActionLink("Criar Anúncio", "Create", "Anuncios")</li>
                                </ul>
                            </li>
                        </ul>
                    }
                    @*--------------------------------------------------------------------------------------*@

                    @if (this.User.IsInRole("Admin"))
                    {
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestão do Site <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Lista Anúncios", "Index", "Anuncios")</li>
                                    <li>@Html.ActionLink("Lista Instituições", "Index", "Instituicaos")</li>
                                    <li>@Html.ActionLink("Lista Serviços", "Index", "Servicoes")</li>
                                    <li>@Html.ActionLink("Lista Pedidos", "Index", "Pedidoes")</li>
                                    <li>@Html.ActionLink("Lista Respostas", "Index", "Respostas")</li>
                                    <li>@Html.ActionLink("Lista Avaliações", "Index", "Avaliacaos")</li>
                                    <li>@Html.ActionLink("Lista Pais", "Index", "Pais")</li>
                                </ul>
                            </li>
                            <li>@Html.ActionLink("Link confirma Pais", "Index", "Avaliacaos")</li>
                            <li>@Html.ActionLink("Link Confirma Pedido", "Index", "Avaliacaos")</li>
                        </ul>

                    }
                    @*--------------------------------------------------------------------------------------------*@

                      @if (!(this.User.IsInRole("Instituição")) && !(this.User.IsInRole("Pais")) && !(this.User.IsInRole("Admin")))
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Avaliações", "Index", "Avaliacaos")</li>
                            <li>@Html.ActionLink("Instituições", "Index", "Instituicaos")</li>
                            @*<li>@Html.ActionLink("Criar Perfil", "Index", "Role")</li>*@
                        </ul>

                    }

                 </ul>
                @Html.Partial("_LoginPartial")
                
            </div>
        </div>
    </div>
    <br /><br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:#ffffff">&copy; @DateTime.Now.Year - SpacesForChildren</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
