@model SpacesForChildren.Models.Pedido

@{
    ViewBag.Title = "Delete";
}

<div class="box">

    <h2>Eliminar</h2>

    <h3>Tem a certeza que quer eliminar este pedido?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Pedido:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PedidoID)
            </dd>

            <dt>
                Pai:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pai.PaisNome)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Anuncio.AnuncioTitulo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Anuncio.AnuncioTitulo)
            </dd>

        </dl>
        <hr />
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>
        }
    </div>
</div>