@model SpacesForChildren.Models.Pedido

@{
    ViewBag.Title = "Detalhes do Pedido";
}

    <div class="box">

    <h2>Detalhes</h2>

    <div>
        <h4>Pedido</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Pedido:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PedidoID)
            </dd>
            <dt>
                Pai:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pai.PaisNome)
            </dd>
            <dt>
                Anúncio:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Anuncio.AnuncioTitulo)
            </dd>
            <dt>
                Resposta:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resposta)
            </dd>

        </dl>
    </div>
        <hr />
    <p>
        @if (@ViewBag.pai == Model.PaiID.ToString())
        {
            @Html.ActionLink("Editar", "Edit", new { id = Model.PedidoID })
        }
        @if (@ViewBag.pai != Model.PaiID.ToString())
        {
            @Html.ActionLink("Página Principal", "../Home/Index")
        }
        |
        @Html.ActionLink("Voltar", "Index")
    </p>
</div>