@model IEnumerable<SpacesForChildren.Models.Pedido>

@{
    ViewBag.Title = "Pedidos";
}

<div class="box">

    <h2>Pedidos</h2>
    <table class="table">
        <tr class="cabecalho">
            <th>
                Pedido:
            </th>
            <th>
                Pai:
            </th>
            <th>
                Anúncio:
            </th>
            <th>
                Resposta:
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if ((this.User.IsInRole("Pais") && item.PaiID == @ViewBag.pai) || (this.User.IsInRole("Instituição") && ViewBag.inst == item.Anuncio.Servico.Instituicao.InstituicaoID) || (this.User.IsInRole("Admin")))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pai.PaisNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anuncio.AnuncioTitulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resposta)
                </td>
            }
            @if ((this.User.IsInRole("Pais")) && item.PaiID == @ViewBag.pai) { 
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.PedidoID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.PedidoID })
                </td>
            }
            @if ((this.User.IsInRole("Instituição")) && @ViewBag.inst == item.Anuncio.Servico.Instituicao.InstituicaoID)
            {
                <td>
                    @Html.ActionLink("Responder", "Edit", new { id = item.PedidoID })
                </td>
            }
            @if ((this.User.IsInRole("Admin")))
            {
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.PedidoID }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.PedidoID }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.PedidoID })
                </td>
            }
        </tr>
    }

    </table>

</div>