@model SpacesForChildren.Models.Avaliacao

@{
    ViewBag.Title = "Eliminar Avaliação";
}

<div class="box">

    <h2 style="margin-left:15px;">Eliminar</h2><h2>Delete</h2>

    <div>
        <h4 style="margin-left:15px;">Tem a certeza que quer eliminar?</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Pai.PaisNome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pai.PaisNome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Servico.ServicosDescricao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Servico.ServicosDescricao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AvaliacaoPreco)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AvaliacaoPreco)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AvaliacaoLocalizacao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AvaliacaoLocalizacao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AvaliacaoAmbiente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AvaliacaoAmbiente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AvaliacaoGeral)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AvaliacaoGeral)
            </dd>

        </dl>
        <hr />
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                @Html.ActionLink("Voltar", "Index")
            </div>
        }
    </div>
</div>