@model IEnumerable<SpacesForChildren.Models.Avaliacao>

@{
    ViewBag.Title = "Lista de Avaliações";
}

<div class="box">

    <h2 style="margin-left:15px">Avaliações</h2>

    @*<p style="margin-left:15px">
        @Html.ActionLink("Avaliar Serviço", "Create")
    </p>*@
    <table class="table">
        <tr class="cabecalho">
            <th>
                @Html.DisplayNameFor(model => model.Pai.PaisNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico.ServicosDescricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoPreco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoLocalizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoAmbiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvaliacaoGeral)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pai.PaisNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.ServicosDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoPreco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoLocalizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoAmbiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvaliacaoGeral)
            </td>
            @*<td>
                @Html.ActionLink("Editar", "Edit", new { id=item.AvaliacaoID }) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.AvaliacaoID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.AvaliacaoID })
            </td>*@
        </tr>
    }

    </table>
</div>